<div style="height: 500px;">
  <h2 class="text-center pt-5">
    あなたが<strong>「人生で一番美味しい」</strong>と感じた一品を</br>
    記録し共有することで、
  </h2>
  <h2 class="text-center">
    あらゆる人の「美味しい」が料理名ごとに集まる</br>
    ごちそう集約サイトです。
  </h2>
</div>