<div class="about_image position-relative mt-3">
  <div style="position: absolute; top: 63%; left: 30%; transform: translate(-50%, -50%)">
    <h2>
      あなたが<span class="text-warning">「人生で一番美味しい」</span>と感じた一品を</br>
      記録し共有することで、</br>
      あらゆる人の「美味しい」が料理名ごとに集まる</br>
      ごちそう集約サイトです。
    </h2>
  </div>
</div>