<h4>ジャンル一覧</h4>

<!--新規登録form-->
<%= render 'form', genre: @genre, url: admin_genres_path, submit: '登録' %>

<% @genres.each do |genre| %>
  <div>
    <%= genre.id %>
    <%= genre.name %>
    <%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-light" %>
  </div>
<% end %>
